HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
#Настройки .idea
.idea/*
!.idea/.dev-mode
!.idea/codeStyles
.idea/codeStyles/*
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
!.idea/inspectionProfiles/
.idea/inspectionProfiles/*
!.idea/inspectionProfiles/Project_Default.xml
!.idea/fileTemplates/
!.idea/runConfigurations/
!.idea/codeInsightSettings.xml
!.idea/encodings.xml
!.idea/externalDependencies.xml
!.idea/misc.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
